<div class="footer-links">
    <details>
        <summary>Privacy</summary>
        This site uses Google Analytics to monitor web traffic, and thus may collect anonymized info on visitors including but not limited to IP address, approximate location, and browser/device info. To opt out of this data collection, enable the "Do Not Track" option in your browser or OS, or install the free <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-out</a> browser extension.
    </details>
</div>