/*STYLE OVERRIDES FOR THEME: terminal*/
/*Reducing top margin before post*/
.header .menu {
    margin: 5px 1px;
}
.post {
    margin: 5px auto;
    padding: 5px 0;
}
.headings--one-size h1:not(first-child) {
    margin-top: 10px;
}
/*Reducing bottom margin between post content and "read more" links*/
.pagination__title {
    margin-top: 20px;
}
/*Link styles*/
.post-content a {
    color: var(--accent);
}
/*Fonts*/
body {
    font-family: Verdana, Geneva, Tahoma, monospace;
}
/*Footer (legal) links*/
.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #908f95;
    margin: auto;
    text-align: center;
}

/*Defining dark theme so auto-dark mode extensions like Noir don't override these colors*/
@media (prefers-color-scheme: dark) {
    .post-content a {
        color: var(--accent);
    }
}